* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

body {
    font-family: sans-serif;
}

.App {
    background-color: #fff;
}

.Header {
    position: relative;
    padding: 50px 0px 30px 0px;
}

.share-icon {
    height: 20px;
    position: absolute;
    right: 200px;
    top: 50px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    margin-bottom: 20px;
}

.Main {
    width: 100%;
    padding: 0px 40px;
}

.link-container {
    display: flex;
    flex-direction: column;
    padding: 0px 50px;
    margin-bottom: 10px;
}

.link-container > button {
    background: #EAECF0;
    padding: 24px 32px;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    margin: 8px 0px;
}

.media-container {
    display: flex;
    justify-content: center;
    padding-block: 30px;
}

.slack, .github {
    height: 25px;
    margin-right: 20px;
}

.Footer {
    width: 100%;
    padding: 0px 40px;
}

.footer-container {
    border-top: 1px solid #EAECF0;
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

.footer-container > .text {
    /* font-family: 'Inter'; */
    font-family: sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #667085;
}

.footer-container > img {
    height: 24px;
}

@media only screen and (max-width: 600px) {
    .link-container {
        padding: 0px 10px;
    }

    .footer-container {
        border-top: 1px solid #EAECF0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 30px 0px;
    }

    .zuri, .text {
        margin-bottom: 20px;
    }

    .share-icon {
        height: 20px;
        position: absolute;
        right: 100px;
        top: 50px;
    }
    
}

